{% extends 'base.html' %}
{% block title %}Словарь терминов{% endblock %}

{% block content %}
  <h1>Словарь терминов и понятий</h1>
  <dl>
    {% for term in terms %}
      <dt><strong>{{ term.term }}</strong> <small>({{ term.added_at|date:"d.m.Y" }})</small></dt>
      <dd>{{ term.definition }}</dd>
    {% empty %}
      <p>Нет терминов.</p>
    {% endfor %}
  </dl>
  {% if is_paginated %}
    <div>Стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</div>
  {% endif %}
{% endblock %}
