{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
  <h1>Последняя статья</h1>
  {% if latest %}
    <h2>{{ latest.title }}</h2>
    <p>{{ latest.teaser }}</p>
  {% else %}
    <p>Пока нет статей.</p>
  {% endif %}

  <hr>

  {% if user.is_authenticated %}
    <h2>Цитата из «Во все тяжкие»</h2>
    <blockquote>
      “{{ bb_quote.quote }}”
      {% if bb_quote.author %}&mdash; <em>{{ bb_quote.author }}</em>{% endif %}
    </blockquote>

    <hr>

    <h2>Случайная шутка</h2>
    <blockquote>
    <p>{{ joke.setup }}</p>
    <p>{{ joke.punchline }}</p>
    </blockquote>
  {% else %}
    <p><a href="{% url 'login' %}?next={% url 'shop:home' %}">
      Войдите, чтобы получить цитаты и шутки
    </a></p>
  {% endif %}
{% endblock %}
