{% extends 'base.html' %}
{% block title %}{{ object.name }} — детали{% endblock %}

{% block content %}
  <h1>{{ object.name }}</h1>
  <p><strong>Код товара:</strong> {{ object.code }}</p>
  <p><strong>Тип:</strong> {{ object.product_type.name }}</p>
  <p><strong>Цена:</strong> {{ object.price }} ₽</p>
  <p><strong>Статус:</strong>
    {% if object.in_production %}В наличии{% else %}Нет в наличии{% endif %}
  </p>
  {% if object.in_production %}
    {% if not user.is_staff and user.is_authenticated %}   
      <form method="post" action="{% url 'shop:add_to_cart' object.pk %}">
        {% csrf_token %}
        <button type="submit">Добавить в корзину</button>
      </form>
    {% endif %}
  {% else %} {% endif %}
{% endblock %}
