{% extends 'base.html' %}
{% load static %}
{% block title %}О компании{% endblock %}
{% block content %}
  <h1>О компании{% if company %} {{ company.name }}{% endif %}</h1>

  {% if company %}
    {% if company.logo %}
      <img src="{{ company.logo.url }}" alt="Логотип компании" width="200" class="company-logo">
    {% endif %}

    <p>{{ company.description }}</p>

    {% if company.video_url %}
      <video width="640" height="360" controls>
        <source src="/{{ company.video_url }}" type="video/mp4">
        Ваш браузер не поддерживает тег video.
      </video>
    {% endif %}

    <h2>Реквизиты</h2>
    <ul>
      {% if company.inn %}<li><strong>ИНН:</strong> {{ company.inn }}</li>{% endif %}
      {% if company.ogrn %}<li><strong>ОГРН:</strong> {{ company.ogrn }}</li>{% endif %}
      {% if company.address %}<li><strong>Юридический адрес:</strong> {{ company.address }}</li>{% endif %}
    </ul>

    {% if company.certificate %}
    <h2>Сертификат</h2>
      <div class="certificate-bg">
        <div class="certificate-border">
          <div class="certificate-content">
            <pre>{{ company.certificate }}</pre>
            <div class="cert-signs">
              <div class="cert-signature">
                <img src="{% static 'img/1.png' %}" alt="Подпись" class="signature-img">
              </div>
              <div class="cert-stamp">
                <img src="{% static 'img/2.png' %}" alt="Печать" class="stamp-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

  <h2>История компании</h2>
  <ul class="history-list">
    {% for item in timeline %}
      <li><strong>{{ item.year }}</strong>: {{ item.description }}</li>
    {% empty %}
      <li>Нет данных по истории.</li>
    {% endfor %}
  </ul>
{% endblock %}
